@model exam_1.Models.FileU

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserFile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>
        @if (Model.Pass != null)
        {
            <form asp-controller="Home" asp-action="CheckPass" method="post" role="form">
                <input type="hidden" value="@Model.Id" name="Id" />
                <input type="hidden" value="@Model.Pass" name="password"/>
                <label for="tx">Password</label>
                <input type="text" id="tx" name="tx" />
                <input type="submit"/>
            </form>
        }
        else
        {
            <div>
                <a href="\Home\Download?Id=@Model.Id">Download</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        }
    </dl>
</div>

